{
    "mod_settings" : [
        {
            "name" : "mod_remind",
            "db_name" : "database.db3"
        },
        {
            "name" : "mod_tell",
            "db_name" : "database.db3"
        },
        {
            "name" : "mod_weather",
            "api_key" : "<wunderground-api-key>"
        }
    ],

    "servers": [
        {
            "tag" : "servertag",
            "nickname" : "yournick",
            "address" : "irc.domain.tld",
            "port" : 6667,
            "cmdprefix" : "?",

            "channels" : [
                {
                    "name" : "#channel1",
                    "pass" : "",
                    "cmdprefix" : "!"
                },
                {
                    "name" : "#channel2",
                    "pass" : "secret",
                    "cmdprefix" : "`",

                    "mod_settings" : [
                        {
                            "name" : "first_module",
                            "option" : "some option"
                        }
                    ]
                }
            ],

            "mod_settings" : [
                {
                    "name" : "mod_weather",
                    "default_loc" : "Brno"
                }
            ]
        }
    ]
}
