{
    "servers": [
        {
            "nickname" : "yournick",
            "address" : "irc.domain.tld",
            "port" : 6667,
            "cmdprefix" : "?",

            "channels" : [
                { 
                    "name" : "#channel1",
                    "pass" : "",
                    "cmdprefix" : "!"
                },
                {
                    "name" : "#channel2",
                    "pass" : "secret",
                    "cmdprefix" : "`",

                    "mod_settings" : [
                        {
                            "name" : "first_module",
                            "database" : "channel2.db"
                        }
                    ]
                }
            ],

            "mod_settings" : [
                {
                    "name" : "first_module",
                    "database" : "module.db"
                }
            ]
        }
    ]
}
